body{
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(216, 216, 216);
}
/* form styling start */
.formDiv{
    width: 21%;
    height: 85vh;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    margin-top: 1.5%;
    margin-left: 0.5%;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.formHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15%;
    margin-top: 1%;
}
/* form input styling start */
.form input{
    padding: 10px;
    margin-bottom: 8%;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    transition: all 0.5s;
    font-weight: 600;
}
.form input:focus{
    outline: none;
}
.form input:focus::placeholder{
    padding-left: 5px;
    color: rgb(2, 212, 2);
    transition: all 0.5s;
}
/* form input styling end */
/* form select styling start */
.form select{
    padding: 10px;
    margin-bottom: 8%;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(101, 101, 101);
}
.form select:focus{
    outline: none;
}
/* form select styling end*/
.formbtn{
    background-color: rgb(1, 181, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.formbtn:hover{
    background-color: rgb(1, 217, 1);
    transition: all 0.5s;
}
#copyright{
    font-size: 11.5px;
    text-align: center;
    margin-top: 23%;
    color: gray;
}
/* form styling end */
/* table styling start */
.tableDiv{
    width: 74%;
    background-color: white;
    margin-top: 1.5%;
    height: 91vh;
    margin-left: 0.8%;
    overflow: scroll;
}
.tableDiv::-webkit-scrollbar{
    display: none;
}
.tableDiv table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.thead{
    background-color: rgb(1, 181, 1);
    color: white;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.thead th{
    padding: 13px;
}
#tbody td{
    padding: 12px;
}
#delbtn{
    background-color: rgb(1, 181, 1);
    color: white;
    border: none;
    padding: 6px;
    width: 65px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.5s;
}
#delbtn:hover{
    background-color: rgb(1, 217, 1);
    transition: all 0.5s;
}
/* table styling end */

/* No Data Icon styling start */
#dataiconDiv{
    position: absolute; 
    top: 37%; 
    left: 55%;
}
#dataiconDiv img{
    width: 200px;
}
/* No Data Icon styling end*/

/* Responsiveness Start */
@media(max-width:1024px){
    body{
        flex-direction: column;
    }
    .formDiv{
        width: 50%;
        margin-top: 1.5%;
        margin-left: 23%;
        height: 90vh;
    }
    .tableDiv{
        width: 100%;
        margin-top: 2%;
        margin-left: 0%;
    }
    #dataiconDiv{
        position: absolute; 
        top: 140%; 
        left: 44%;
    }
    #dataiconDiv img{
        width: 150px;
    }
}
@media(max-width:500px){
    .formDiv{
        width: 90%;
        margin-left: 0%;
    }
    #dataiconDiv{
        position: absolute; 
        top: 140%; 
        left: 37%;
    }
    #dataiconDiv img{
        width: 150px;
    }
}
/* Responsiveness End */